.appContainer {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 100vh;
}
.createPost {
    width: 80%;
    background-color: #f3f6fa;
}

.welcomeText {
    font-size: 20px;
    margin-top: 20px;
}