h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}
.item-container{
    text-align: left;
}
.kg_button {
    min-width: 80px;
    float: left;
}
.kg_row {
    margin: 10px 0;
}